<div class="container fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Mongo Scraper!</h1>
			<div class="row">

				<button type="submit" class="btn btn-danger btn-lg">Scrape News Content</button>

			</div>
				
			<br/>
			<div class="row">
				<div class="container-fluid letterTW">
					Copyright &copy; 2017 Hilton DCS
				</div>
			</div>
			
		</div>
	</div>
</div>