body {
	background-image: url("News.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.letterTW {
	font-family: 'GNUTypewriterStandard', cursive;
}

h1 {
	font-family: 'GNUTypewriterStandard', cursive;
	font-size: 6em;
	text-align: center;
	text-shadow: -1px 0 White, 0 1px White, 1px 0 White, 0 -1px White;
}

h2 {
	font-family: 'GNUTypewriterStandard', cursive;
	font-size: 3em;
	text-align: center;
	text-shadow: -1px 0 White, 0 1px White, 1px 0 White, 0 -1px White;
}

h3, p, button {
	font-family: 'GNUTypewriterStandard', cursive;
}

.colorW {
	color: White;
	font-size: 1.5em;
}

